*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid tomato; */
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: inline-block;
}

button,
label {
  cursor: pointer;
}

address {
  font-style: normal;
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;

  width: 480px;
}

.main-title {
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.167;
  letter-spacing: 1.05px;
  color: #ffffff;
}

.title {
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  color: #303030;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  letter-spacing: 1.05px;
}

.sub-title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.line::before {
  content: "";
  display: inline-block;
  margin-right: 20px;

  width: 60px;
  height: 1px;
  background-color: rgb(157, 164, 189, 0.6);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 1.02px;
}

.link {
  display: block;
}

.link:hover,
.link:focus {
  color: #ff6c00;
}

.btn {
  display: block;
  padding: 11px 20px;
  border: 1px solid #ff6c00;
  border-radius: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  max-width: max-content;
}

.btn:hover,
.btn:focus {
  background-color: #ff6c00;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container {
    padding-left: 40px;
    padding-right: 40px;

    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .container {
    padding-left: 56px;
    padding-right: 56px;

    width: 1280px;
  }

  .text {
    font-size: 18px;
    line-height: 1.667;
  }

  .title {
    font-size: 42px;
    line-height: 1.167;
    letter-spacing: 1.05px;
  }
}
