*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid tomato; */
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: inline-block;
}

button,
label {
  cursor: pointer;
}

address {
  font-style: normal;
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;

  width: 480px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;

    width: 768px;

  }
}
  
.link{
  display: block;
}

.link:hover,
.link:focus{
  color: #FF6C00;
}
